@charset "utf-8";
/* CSS Document */

/* COMMON ELEMENTS */

body, html {
	width:100%;
	height:100%;
	color:#222;
	font-weight:300;
	background:#f7f7f7;
	font-size:1em;
	overflow:hidden;
	font-family:'OpenSans-Regular', sans-serif;
	margin:0;
}
#wrapper {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	
background: rgba(254,254,254,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 45%, rgba(221,221,221,1) 80%, rgba(210,210,210,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(254,254,254,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(80%, rgba(221,221,221,1)), color-stop(100%, rgba(210,210,210,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 45%, rgba(221,221,221,1) 80%, rgba(210,210,210,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 45%, rgba(221,221,221,1) 80%, rgba(210,210,210,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 45%, rgba(221,221,221,1) 80%, rgba(210,210,210,1) 100%);
background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 45%, rgba(221,221,221,1) 80%, rgba(210,210,210,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d2d2d2', GradientType=1 );

}
h1, h2, h3, h4, h5, h6 {
	color:rgba(0,0,0,0.7);
	position:relative;
	display:block;
	line-height:1em;
	font-family:'OpenSans-Light', sans-serif;
}
h1 {
	text-transform:uppercase;
	letter-spacing:0.5px;
	font-family:'OpenSans-Bold', sans-serif;
	font-size:0.9em;
	line-height:1.2em;
	padding:;
}

h2 {
	text-transform:uppercase;
	line-height:1.2em;
	font-family:'OpenSans-Bold', sans-serif;
	font-size:0.70em;
}

#portfolio h2 {
	color:#444!important;
	padding-bottom:1.75em;

}
/* logo text */

/* section titles and buttons */

h3 {
	text-transform:uppercase;
	font-size:0.75em;
	font-family:'OpenSans-Bold', sans-serif;
	padding:0 0 1.25em 0;
}
/* subsection titles */

h4 {
	font-size:0.65em;
	text-transform:uppercase;
	line-height:1.32em;
	letter-spacing:0.5px;
}
/* listing titles */

h5 {
	text-transform:uppercase;
	font-size:0.5em;
}

h6 {
	text-transform:uppercase;
	font-size:0.75em;
}
p  {
	font-size:0.8em;
	line-height:1.3em;
}
em {
display: block;
    font-family: 'OpenSans-Light',sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    padding-bottom: 0.75em;
    padding-top: 0.25em;
}
small {
	font-family:'OpenSans-Light', sans-serif;
	font-size:0.7em;
	line-height:1em;
}
.bold {
	font-family:'OpenSans-Semibold', sans-serif;
}
.regular {
	font-family:'OpenSans-Regular', sans-serif;
}

.italic {
	font-style:italic;
}
a {
	display:block;
	height:100%;
	text-decoration:none;
	color:rgba(255,255,255,0.8);
	position:relative;
}


/* Fill up */


/*Fall down*/

	@keyframes pageload
	{
	0%   {margin-top:-40px;}
	100% {margin-top:0px;}
	}
	
	@-webkit-keyframes pageload 
	{
	0%   {margin-top:-40px;}
	100% {margin-top:0px;}
	} 
	@-moz-keyframes pageload
	{
	0%   {margin-top:-40px;}
	100% {margin-top:0px;}
	}
	
	@-ms-keyframes pageload 
	{
	0%   {margin-top:-40px;}
	100% {margin-top:0px;}
	} 

nav > object {
	animation: pageload 1.2s ease-out;
	-webkit-animation: pageload 1.2s ease-out; 
	-moz-animation: pageload 1.2s ease-out;
	-ms-animation: pageload 1.2s ease-out;
	position:absolute;
	left:0;
	top:0;
	height:auto;
}

.border-button {
	display:inline-block;
	padding:0.7em 1em;
	text-align:center;
	border:3px solid rgba(0,0,0,0.7);
	margin:10px auto;
}

/* Content */

header {
	width:15em;
	position:absolute;
	right:2em;
	bottom:2.1em;
}
header h1 {
	margin-bottom:15px;
	border:.2em solid rgba(0,0,0,0.7) !important;
	text-align:center;
	display:inline-block;
	font-weight: 900;
}

header h4 {
	font-weight: 900;
	font-size: .5em
}
header p {
	font-size: .5em!important;
}
aside h2 {
	margin:5px 0 10px;
}
aside {
	width:17em;
	position:absolute;
	left:1.5em;
	bottom:2em;
}
.header-mail {
	color:#222;
	font-size:0.7em;
	display:inline;
	font-family:'OpenSans-Bold', sans-serif;
}
.bbc {
	width:150px;
	height:100px;
	position: absolute;
	right:25em;
	top:15em;
	z-index: 99999;
}
.suria {
	width:500px;
	height:500px;
	position: absolute;
	right:46em;
	top:19em;
	z-index: 99999;
}
.ummah {
	width:500px;
	height:500px;
	position: absolute;
	right:75em;
	top:21em;
	z-index: 99999;
}
.twitter {
	width:500px;
	height:500px;
	position: absolute;
	right:60em;
	top:29em;
	z-index: 99999;
}
#mainnav {
	width:1000px;
	margin-left:12.5%;
	height:auto;
	background:url(../images/shadow-bg.png) no-repeat center bottom;
	background-size:100%;
	text-align:center;
	position:absolute;
	height:90%;
}
#mainnav object {
	margin-top: 5em;
	width:90%;
	height:auto;
}
#mainnav object svg {
	height:100%;
}

#mainnav object svg a {
	cursor:pointer;
}

.cross {
	width:5em;
	height:5em;
	position:absolute;
	left:-2.1em;
	top:-2.1em;
	opacity:0.2;
}
.cross img, .close img, .article-inner ul li img {
	height:100%;
}
.article-inner ul li img {
	height:100%;
	max-height:2em;
}
header h1 {
margin-bottom: 15px;
padding: 0.7em 1em;
border: 2px solid rgba(0,0,0,0.7);
text-align: center;
display: inline-block;
}
header h2 {
	padding:10px 10px 15px 0;
	border-top:1px solid #333;
	font-size:0.85em;
	margin-top:20px;
	display:inline-block;
	width:90%;
	letter-spacing:1px;
	position:relative;
}
header h4 {
	font-family:'OpenSans-Bold', sans-serif;
	margin-bottom:15px;
}
header p {
	font-size:0.7em;
	letter-spacing:1px;
	padding-bottom:0;
}
header p:first-of-type {
	text-transform:uppercase;
	font-size:0.6em;
}
header p:nth-of-type(2) {
	padding-bottom:15px;
	color:rgba(0, 0, 0, 0.7);
}
#headernav {
	position:fixed;
	top:1.5em;
	text-align:right;
	right:1.5em;
	z-index:2;
}
#headernav h1 {
	color:white;
	border:none;
	padding:0;
	margin:0;
	font-size:1.8em;
	cursor:pointer;
}
#headernav .tabs {
	display:none;
}
#headernav a h2 {
	font-family:'OpenSans-Bold', sans-serif;
	font-size:1.3em;
	color:#c0c0c0;
	text-transform:uppercase;
	line-height:1em;
}
#headernav a h2:hover, .headernav-selected {
	color:#999!important;
}
#articles article {
	position:absolute;
	top:1.5em;
	left:1.5em;
	z-index:2;
}
#articles article p {
	color:rgba(255,255,255,0.8);
}
#articles article h1, #articles article h2, #articles article h3, #articles article h4, #articles article h5, #articles article h6 {
	color:white;
}
.article-inner {
	padding:2em;
}
.close {
	cursor:pointer;
	position:absolute;
	width:1em;
	height:1em;
	top:0.8em;
	right:0.8em;
	z-index:3;
}
.article-inner .close {

}
#me ul:nth-of-type(2) li, #services ul li, #jobs ul li, #tools ul:first-of-type li, #webdesign ul li, #cms-customization ul:first-of-type li, #webdevelopment ul li, #works small {
	padding-left:2em;
	position:relative;
}
#me ul:nth-of-type(2) li:before, #jobs ul li:before, #tools ul:first-of-type li:before, #webdesign ul li:before, #cms-customization ul:first-of-type li:before, #webdevelopment ul li:before, #works small:before {
	content:'';
	width:1.5em;
	height:1px;
	background:rgba(255,255,255,0.5);
	position:absolute;
	top:50%;
	left:0;
}


/*Jobs*/

#jobs {
	background:#2A7AAF /*#418BBA*/;
	height:27em;
	width:26em;
	display:none;
}
#jobs h3 {
	border-bottom:2px solid white;
	margin-bottom:2em;
}
#jobs ul:not(:last-child) {
	border-bottom:1px solid white;
	padding-bottom:1.25em;
}
#jobs .bold {
	padding-left:1em;
	font-family:'OpenSans-Bold', sans-serif;
}

/*Me*/

#me {
	background:#F24E35 /*#EA6556*/;
	height:32em;
	width:27em;
	display:none;
}
#me .avatar {
	width:20%;
	padding-right:5%;
	float:left;
	margin-top:-0.2em;
}
#me h3:first-of-type {
	border-bottom:white;
	margin-bottom: 1.25em;
    padding-bottom: 1em;
	}
#me h3:nth-of-type(2) {
	border-bottom: 1px solid #FFFFFF;
    clear: both;
    margin-bottom: 1.5em;
    margin-top: 1em;
    padding-bottom: 1.75em;
}
#me .description {
}
#me h3:nth-of-type(3) { 
	border-top: 1px solid #FFFFFF;
    margin-top: 1.75em;
    padding-bottom: 1.25em;
    padding-top: 2em;
}
#me h1 {
	margin-top:1em;
}

#me ul:first-of-type {
	display: inline-block;
    float: right;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 30%;
}
#me ul:first-of-type li a {
	float:left;
	width:25%;
	height:auto;
	padding:0 2.5%;
	opacity:0.8;
}
#me ul:first-of-type li a:hover {
	opacity:1;
}
#me ul:first-of-type li:first-child {
	padding-left:0;
}
#me ul:nth-of-type(2) li {
	margin-bottom:0.3em;
}
#me ul:nth-of-type(3) li {
	 margin-bottom:0.5em;
	 list-style:disc;
	 color:white;
	 margin-left:1em;
	 font-size:0.8em;
}
#me ul:nth-of-type(3) li p:first-child {
	font-family: 'OpenSans-Semibold', sans-serif;	
	color:rgba(255, 255, 255, 0.9);
	font-size:1em;
}

#me ul:nth-of-type(3) li p:nth-child(2) {
	font-family: 'OpenSans-Light', sans-serif;
	font-size:1em;	
}
#me ul:nth-of-type(2) span {
	font-family: 'OpenSans-Semibold', sans-serif;	
	color:white;
}
#me ul:nth-of-type(2) a {
	display:inline;
}


/*tools*/

#tools {
	background:#6A5A8C /*#9387B2*/;
	height:30em;
	width:25em;
	display:none;
}
#tools h3 {
	margin-bottom:1.25em;
}
#tools h3:nth-of-type(2), #tools h3:nth-of-type(3) {
	border-bottom:1px solid white;
	margin-top:2em;
}
#tools ul:nth-of-type(2) {
	display:inline-block;
	width:100%;
	padding: 0.5em 0 0;
}
#tools ul:nth-of-type(2) li {
	float:left;
	width:25%;
	text-align:center;
}
#tools ul:nth-of-type(2) li a {
	display:block;
}
#tools ul:nth-of-type(2) li img {
	width:50%;
	margin:auto;
	opacity:0.8;
}
#tools ul:nth-of-type(2) li a:hover img {
	opacity:0.6;
}
#tools small {
	font-style:italic;
	font-weight:400;
	color:rgba(255,255,255,0.8);
}
#tools ul:nth-of-type(3) li {
	padding-bottom:0.3em;
}

/*Services*/

#services {
	background:#15967D /*#49AA95*/;
	display:none;
	width:25em;
	height:34em;
}
#services h3, #tools h3:first-of-type {
	border-bottom:2px solid white;
}
#services h4, #jobs h4 {
	margin:1.25em 0;
}
#services h3:nth-of-type(2) {
	margin-bottom: 1.5em;
    margin-top: 2em;
}
#services ul li {
	margin-bottom:0.5em;
}
#services ul li:before {
	content:'';
	width:1.5em;
	height:1.5em;
	position:absolute;
	top:0;
	left:0;
	opacity:0.8;
}
#services ul li:first-child:before {
	background: url(../images/development-process-hd1.svg) no-repeat center;
	background-size:100%;
}
#services ul li:nth-child(2):before {
	background: url(../images/development-process-hd2.svg) no-repeat center;
	background-size:100%;
}
#services ul li:nth-child(3):before {
	background: url(../images/development-process-hd3.svg) no-repeat center;
	background-size:100%;
}
#services ul li:nth-child(4):before {
	background: url(../images/development-process-hd4.svg) no-repeat center;
	background-size:100%;
}
#services .bold {
	color:white;
}


/*packages*/

#packages {
	background:#554870 /*#72668E*/;
	width:28em;
	height:33em;
	display:none;
}

#packages h3:nth-of-type(2) {
	padding-top:2em;
	clear:both;
	border-top:1px solid white;
}
#packages .firstp {
    float: left;
    width: 47.5%;	
	padding:2.5% 2.5% 5% 0;
	font-style:italic;
	font-size:0.75em;
}
#packages .secondp {
    width: 47.5%;	
	float:right;
	padding:2.5% 0 5% 2.5%;
	font-style:italic;
	font-size:0.75em;
}
#packages .bold {
	color:white;
	display:block;
	font-style:normal;
}
#packages .firstp .bold, #packages .secondp .bold {
	border:2px solid white;
	text-align:center;
	padding:0.8em 0;
	font-size:1.1em;
	margin-bottom:0.5em;
}
#packages .article-inner div {
	margin-bottom:1em;
}
#packages .article-inner div .bold {
	position:relative;
	padding-bottom:0.7em;
	padding-top:0.5em
}
#packages .article-inner div .bold:before {
	content:'';
	width:2.5em;
	height:2.5em;
	position:absolute;
	top:0px;
	left:0;
	opacity:0.8;
}
#packages .article-inner div:nth-of-type(2) .bold:before {
	background: url(../images/website-launch-hd.svg) no-repeat center;
	background-size:100%;
}
#packages .article-inner div:nth-of-type(3) .bold:before {
	background: url(../images/redesign-projects-hd.svg) no-repeat center;
	background-size:100%;
}
#packages .article-inner div:nth-of-type(4) .bold:before {
	background: url(../images/dynamic-webportals-hd.svg) no-repeat center;
	background-size:100%;
}
#packages .lists p {
	padding-left:3em;
}

/*Portfolio*/

#portfolio {
	display:none;
}

/*Contact*/

#contact {
	background:#3498DB /*#5DB5EF*/;
	display:none;
	width:24em;
	height:36em;
}
#contact .avatar {
	width:25%;
	float:left;
	margin:0 5% 1.25em 0;
} 
#contact h1 {
	border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    width: 65%;
}
#contact .article-inner > h3 {
	border-bottom:2px solid white;
	margin-bottom:1em;
	clear:both;
	padding-bottom:1em;
}
#contact #contact-wrapper h3 {
	margin-top:1em;
	padding-top:1em;
}
form {
	width:100%;
	text-align:center;	
	position:relative;
	margin: auto auto 2em;
}
label {
	display:none;
}
input, textarea {
	width:88%;
	padding:0.8em 5%;
	font-family:'OpenSans-Semibold', sans-serif;
	font-size:0.6em;
	color:rgba(255, 255, 255, 0.7);
	letter-spacing:1px;
	margin:0.5em 0;
	background:none;
	border:2px solid white;
	box-shadow:none;
}
textarea {
	min-height:6em;	
}
#send {
	background:#2A7AAF;
    border: none;
    bottom: 0;
    box-shadow: none;
    cursor: pointer;
    font-family: 'OpenSans-Bold',sans-serif;
    font-size: 0.7em;
    padding: 0.8em 0;
    right: 2px;
    text-transform: uppercase;
    width: 100%;
}
#send:hover, #send:active, #send:focus {
	background:#15608E;
	color:white;
	box-shadow:1px solid rgba(0,0,0,0.6);
}

/* Contact form error messages */
#send-succeeded-wrapper {
    display: none;
}
#send-failed-wrapper {
    display: none;
}
#send-succeeded-wrapper p, #send-failed-wrapper p {
    font-family: 'OpenSans-Bold',sans-serif;
    text-transform: uppercase;
	color:white!important;
	padding:1em 1em 1em 4em;
	font-size:0.7em;
	margin-top:2em;
	border:2px solid white;
	background: url(../images/sent.svg) no-repeat 4% center #1abc9c;
	background-size:8%;
}
#send-failed-wrapper p {
	background:#f24e35;
	background: url(../images/failed.svg) no-repeat 4% center #f24e35;
	background-size:8%;
}

/*Share*/

#share {
	display:none;
	height:12em;
	width:22em;
	background:#F3CC6A;
}
#share h3 {
	border-bottom:2px solid white;
	margin-bottom:1em;
}
.share-wrapper {
 	display: inline-block;
    width: 100%;
}
.share-wrapper a {
 	float: left;
    height: auto;
    margin-right: 2.5%;
    margin-top: 1.5em;
    text-align: center;
    width: 18%;
}
.share-wrapper a:last-of-type {
	margin-right:0;
}
.share-wrapper img {
	width:50%;
	padding:25%;
}
.share-wrapper a:first-child {
	background:#41C0F5;
}
.share-wrapper a:nth-child(2) {
	background:#117BB7;
}
.share-wrapper a:nth-child(3) {
	background:#3B5A9A;
}
.share-wrapper a:nth-child(4) {
	background:#DE4B39;
}
.share-wrapper a:nth-child(5) {
	background:#D32026;
}


/*Projects*/

#articles article#portfolio {
	position:absolute;
	top:1.5em;
	left:1.5em;
	right:1.19em;
	bottom:1.5em;
	width:auto;
	height:auto;
	background:#efefef;
	overflow:hidden;
	border: 1em solid #1ABC9C;
}
#projects {
	height:100%!important;
}
#projects .bjqs {
	
	width:100%;
	height:100%;
	display:none;
	z-index:2;
}
#projects .project-header {
	position:absolute;
	width:19em;
	height:10em;
	bottom:1em;
	right:0em;
}
#projects .project-header li {
	list-style:none;
	padding-left:0.75em;
	background:url(../images/list.svg) no-repeat left center;
}
#projects .project-header:before {
	content:'';
	font-size:10em;
}
#projects .project-header > h2 {
	border-bottom:1px solid #222;
	margin-bottom: 0.5em;
    padding-bottom: 1em;	
	font-size:0.75em;
}
#projects .project-header h4 {
	margin-bottom:1.25em;
	color:#666;
}
#projects .project-header p {
	color:#666;
	line-height:1.4em;
	letter-spacing:1px;
	font-size:0.7em;
}

.awards {
	display: inline-block;
    height: 65px;
    left: 0;
    padding: 2em 2em 2em 0;
    position: absolute;
    width: 65px
}
.awards:first-of-type {
    top: 5.5em;
}
.awards:nth-of-type(2) {
    top: 10.5em;
	padding-top:0;
}

#projects .project-body {
	width:100%;
	float:right;
	height:100%;
	overflow:hidden;
}
#projects .project-body img {
	width:75%;
	padding-left:7%;
}
.owl-theme .owl-controls {
	bottom: -0.5em;
    padding: 2em;
    position: absolute;
    right: 0.9em;
    width: 16em;
    z-index: 1;
}
.navslide {
	right:6em;
	top:1.4em;
}
#portfolio-thumbnails {
	margin-top:-5.7em;
	background:#d9d9d9;
	position:absolute;
	width:100%;
	height:7.7em;
	z-index:3;
	text-align:center;
	transition:all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
}
.thumb-slide {
	margin-top:0!important;
	transition:all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-webkit-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
}
ol.bjqs-markers.h-centered {
	z-index:3;
	width:auto;
	margin-top:2em;
}
.bjqs-markers li {
	overflow: hidden;
	position:relative;
	z-index:4;
	margin-right:0.8em;
	border:0.15em solid #fff;
}
.bjqs-markers li:last-of-type {
	margin-right:0;
}
.bjqs-markers .active-marker {
	border:0.15em solid #444!important;
	box-shadow: 0.2em 0.2em 0.2em #777;
	transition:all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;

}

ol.bjqs-markers li a {
	width:3em;
	height:3em;
	color:transparent;
}

ol.bjqs-markers li:first-child a {
	background:url(../images/works-thumb1.jpg) no-repeat center #f15771;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(2) a {
	background:url(../images/works-thumb2.jpg) no-repeat center #1770AA;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(3) a {
	background:url(../images/works-thumb3.jpg) no-repeat center #1BBC9B;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(4) a {
	background:url(../images/works-thumb4.jpg) no-repeat center #FFD27C;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(5) a {
	background:url(../images/works-thumb5.jpg) no-repeat center #3598DC;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(6) a {
	background:url(../images/works-thumb6.jpg) no-repeat center #E29441;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(7) a {
	background:url(../images/works-thumb7.jpg) no-repeat center #76E3C4;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(8) a {
	background:url(../images/works-thumb8.jpg) no-repeat center #9759AE;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(9) a {
	background:url(../images/works-thumb9.jpg) no-repeat center #637484;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(10) a {
	background:url(../images/works-thumb10.jpg) no-repeat center #F28506;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(11) a {
	background:url(../images/works-thumb11.jpg) no-repeat center #0C2778;
	background-size:100%;
}
ol.bjqs-markers li:nth-child(12) a {
	background:url(../images/works-thumb12.jpg) no-repeat center #F1CC02;
	background-size:100%;
}

.open {
    cursor: pointer;
    left: 45%;
    position: absolute;
    bottom: -0.75em;
    z-index: 4;
}
.open:before {
	background: url(../images/down.svg) no-repeat center 80% #d9d9d9;
	background-size:40%;
    border-radius: 50%;
    bottom: -0.5em;
    content: "";
    height: 2.5em;
    left: 35%;
    position: absolute;
    width: 2.5em;
}
.open-slide:before {
	background: url(../images/up.svg) no-repeat center 80% #d9d9d9;
	background-size:40%;
}
.thumb-close{ 
	position:absolute;
	width:3em;
	top:8.5em;
	right:0em;
	z-index:3;
	background:#1ABC9C;
	padding:0.5em;
	transition:all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	cursor:pointer;
	text-align:center;
}
.thumb-close img {
	width:70%;
}
.thumb-close h1 {
	font-size:0.6em;
	color:white!important;
	padding-top:0.5em;
}
ul.bjqs-controls {
	position:absolute;
	top:0.25em;
	width:95%;
	left:0;
	right:0;
	margin:auto;
	transition:all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
}
.arrow-slide {
	top:3em!important;
	transition:all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-webkit-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
}

ul.bjqs-controls img {
	width:2em;
	max-height: none;
	height:1.5em;
	transition:all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
}
.project-body:before {
	font-size:15em;
	color:#d9d9d9;
	position:absolute;
	bottom:1.1em;
	right:-0.2em;
	font-weight:800;
	font-family:serif;
}
.project-1-body:before {
	content:'1';
}
.project-2-body:before {
	content:'2';
}
.project-3-body:before {
	content:'3';
}
.project-4-body:before {
	content:'4';
}
.project-5-body:before {
	content:'5';
}
.project-6-body:before {
	content:'6';
}
.project-7-body:before {
	content:'7';
}
.project-8-body:before {
	content:'8';
}
.project-9-body:before {
	content:'9';
}
.project-10-body:before {
	content:'10';
}
.project-11-body:before {
	content:'11';
}
.project-12-body:before {
	content:'12';
}

.sharing, .collage {
	position:absolute;
	left:1.5em;
	bottom:1em;
	z-index:3;
	border-top: 1px solid #AAAAAA;	
	padding-right:2em;
}
.collage {
	border:none;
	bottom:4em;
}
.sharing h2, .collage h2  {
	color:#999!important;
	float:left;
	padding:1em 1em 1em 0;
	margin:0.25em 1em 0 0;
}
.collage h2 {
	
}
.sharing ul {
	display:inline-block;
}
.sharing ul li, .collage a {
	float:left;
	width:1.5em;
	height:1.5em;
	opacity:0.3;
	padding:0.5em 0.5em 0 0;
}
.sharing ul li:hover, .collage a:hover {
	opacity:0.6;
}
#projects .close {
	cursor:pointer;
	position:absolute;
	width:1.5em;
	height:1.5em;
	top:2em;
	right:2em;
	z-index:3;
}

@media all and (max-width:1419px) and (min-aspect-ratio: 16/13) and (max-aspect-ratio: 16/10) {
	#mainnav {
		width:950px;
		margin-left:7%;
	}
	#projects .project-body img {
		width:80%;
	}

	
}
@media all and (min-width:1259px) and (max-width:1419px) and (min-aspect-ratio: 16/13) and (max-aspect-ratio: 16/10) {
	#mainnav {
		width:1100px;
	}

	#projects .project-body img {
		padding-top:8%;
	}

}

@media all and (min-width:1345px) {
	#projects .project-body img {
		width:70%;
		padding-left:15%;
	}
	#me .avatar {
		width: 23%;
		padding-right:2.5%;
	}
	#me {
	  height:33em;
	}

}

@media all and (min-width:1419px) {
		
	#mainnav {
		width:1100px;
		margin-left:12.5%;
	}
	body, html {
		font-size:105%!important;
	}
	.cross {
		width:6.5em;
		height:6.5em;
		position:absolute;
		left:-2.7em;
		top:-2.7em;
	}
	#headernav h1 {
		font-size:2.2em;
	}
	#headernav a h2 {
		font-size:1.5em;
	}
	#articles article {
		top:1.8em;
		left:1.8em;
	}
	#articles article#portfolio {
		top:1.8em;
		left:1.8em;
		bottom:1.8em;
		right:1.79em;
	}
	aside {
		left:2em;
	}
	header {
		right:2.25em;
	}
	#headernav {
		right:1.8em;
		top:1.8em;
	}
	.article-inner {
		padding:3em;
	}
	.close {
		width:1em;
		height:1em;
	}
	.open {
		bottom:-0.5em;
	}
	#portfolio-thumbnails {
		height:7.9em;
	}
	ol.bjqs-markers li a {
		width:3.7em;
		height:3.7em;
	}
	ol.bjqs-markers.h-centered {
		margin-top:1.4em;
	}
	ul.bjqs-controls img {
		width:2.5em;
	}
	  .border-button {
		font-size:1.1em;
	}

	#me {
		height:34em;
	}
	#me ul:nth-of-type(2) li {
		margin-bottom: 0;
	}
	#me ul:first-of-type {
		margin-bottom:1em;
		width:35%;
	}
	#me h3:nth-of-type(2) {
		margin-bottom:1em;
	}
	#me h3:nth-of-type(3) {
		border-top: 1px solid #FFFFFF;
	}
	#services {
		height:37em;
	}
	#services li .bold {
		margin-bottom:0.25em;
	}
	#services h4 {
		margin:1em 0 0.5em 0;
	}
	#packages {
		height: 34em;
		width: 28em;
	}
	#packages .article-inner div .bold {
		padding-bottom: 0.5em;
	}
	#packages .article-inner div {
		margin-bottom: 0.5em;
	}
	#tools {
		height: 31em;
		width: 27em;
	}	
	#tools h3:nth-of-type(2), #tools h3:nth-of-type(3) {
		margin-top:25px;
	}
	#jobs {
		height: 28em;
		width:27em;
	}
	input, textarea {
		font-size:0.725em;
		padding: 0.5em 5%;
	}	
	textarea {
		min-height: 7.3em;
	}
	#contact {
		height:37em;
	}
	#contact .avatar {
		margin-top: -1em;
	}
	#contact h1 {
		margin-top:0;
	}
	#share {
		height:14em;
		width:25em;
	}
}
@media all and (min-width:1579px) {
	#mainnav {
		width:1200px;
	}
}
@media all and (min-width:1515px) and (max-width:1899px) and (min-aspect-ratio: 16/13) and (max-aspect-ratio: 16/10) {
	
	#mainnav {
		width:1400px;
		margin-left:5%;
	}
	nav img {
		top:100px;
	}

	#projects .project-body img {
		width:80%;
		padding-left:5%;
		padding-top:7%;
	}
	
}

@media all and (min-width:1899px) {
	
	#mainnav {
		width:1400px;
		margin-left:15%;
		height:100%;
	}
	body, html {
		font-size:108%!important;
	}
	#project-wrap {
		position:absolute;
		top:2.2em;
		left:2.2em;
		right:2em;
		bottom:6em!important;
	}
	#portfolio h2 {
		padding-bottom: 1.35em;
	
	}
	.cross {
		width:8em;
		height:8em;
		position:absolute;
		left:-3.4em;
		top:-3.4em;
	}
	header {
		right:2.5em;
	}
	#headernav {
		right:2em;
		top:2em;
	}
	#articles article {
		top:2.5em;
		left:2.5em;
	}
	.article-inner {
		padding:4em;
	}
	aside {
		left:2.5em;
	}
	#articles article#portfolio {
		top:2em;
		left:2em;
		bottom:2em;
		right:1.99em;
	}
	.open {
		bottom:-0.3em;
	}
	.close {
		width:1.2em;
		height:1.2em;
	}
	.bjqs-markers li {
		margin-right:1.5em;
	}
	.open:before {
		background: url(../images/down.svg) no-repeat center 90% #d9d9d9;
		background-size:40%;
	}
	.open-slide:before {
		background: url(../images/up.svg) no-repeat center 80% #d9d9d9;
		background-size:40%;
	}

	#me {
		height: 39em ;
    	width: 29em;
	}
	#me .avatar {
		width: 30%;
	}
	#me ul:first-of-type {
		margin-bottom: 1.5em;
	}
	#me ul:nth-of-type(2) li {
		margin-bottom: 0.25em;
	}
	#me ul:nth-of-type(3) li {
		margin-bottom: 0.75em;
	}
	#services {
		width:28em;
		height:38em;
	}
	#services h4 {
		margin: 1.5em 0 0.5em;
	}
	#tools {
		height: 30em;
		width:26em;
	}
	#packages {
		height: 36em;
		width: 32em;
	}
	#tools {
		height: 34em;
		width: 29em;
	}
	#tools h3:nth-of-type(2), #tools h3:nth-of-type(3) {
		margin-top: 2em;
	}
	#jobs {
		width: 29em;
		height:30em;
	}
	#contact {
		width:28em;
		height:38em;
	}
	#share {
		height: 17em;
		width: 30em;
	}
}
@media all and (min-width:1899px) and (max-width:2529px) and (min-aspect-ratio: 16/13) and (max-aspect-ratio: 16/9) {
	
	#mainnav {
	}
	nav img {
		top:100px;
	}
	#projects .project-body img {
		width:80%;
		padding-left:5%;
	}
}
@media all and (min-width:2539px) {
	
	body, html {
		font-size:115%!important;
	}
	#mainnav {
		width:1800px;
	}
	nav img {
		top:100px;
	}
	#project-wrap {
		position:absolute;
		top:2.5em;
		left:2.5em;
		right:2.3em;
		bottom:6em!important;
	}
	.cross {
		width:9em;
		height:9em;
		top:-3.7em;
		left:-3.7em;
	}
	#articles article {
		top:2.5em;
		left:2.5em;
	}
	.article-inner .close {
		width:1.5em;
		height:1.5em;
	}
	
	#me {
		height: 39em;
		width:33em;
	}	
	#me ul:first-of-type {
		margin-bottom: 2em;
	}
	#services {
		height: 40em;
	}
	#services ul li {
		margin-bottom: 1em;
	}
	#tools {
		height: 33em;
	}
}
@media all and (min-width:2859px) {
	body, html {
		font-size:125%!important;
	}
	#mainnav {
		width:2000px;
	}
	nav img {
		top:200px;
	}
	#projects .project-body img {
		width:80%;
	}
	
}