@charset "utf-8";
/* CSS Document */

@font-face {
font-family: OpenSans-Regular;
src: url(../fonts/OpenSans-Regular.ttf),
     url(../fonts/OpenSans-Regular.otf), /* IE9+ */
	 url(../fonts/OpenSans-Regular.eot);
	 font-weight: 400;
	 font-style: normal;
}
@font-face {
font-family: OpenSans-Light;
src: url(../fonts/OpenSans-Light.ttf),
     url(../fonts/OpenSans-Light.otf), /* IE9+ */
	 url(../fonts/OpenSans-Light.eot);
	 font-weight: 300;
	 font-style: normal;
}
@font-face {
font-family: OpenSans-Semibold;
src: url(../fonts/OpenSans-Semibold.ttf),
     url(../fonts/OpenSans-Semibold.otf), /* IE9+ */
	 url(../fonts/OpenSans-Semibold.eot);
	 font-weight: 600;
	 font-style: normal;
}
@font-face {
font-family: OpenSans-Bold;
src: url(../fonts/OpenSans-Bold.ttf),
     url(../fonts/OpenSans-Bold.otf), /* IE9+ */
	 url(../fonts/OpenSans-Bold.eot);
	 font-weight: 700;
	 font-style: normal;
}
@font-face {
font-family: OpenSans-Extrabold;
src: url(../fonts/OpenSans-Extrabold.ttf),
     url(../fonts/OpenSans-Extrabold.otf), /* IE9+ */
	 url(../fonts/OpenSans-Extrabold.eot);
	 font-weight: 900;
	 font-style: normal;
}


/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background:transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
button[disabled],
input[disabled] {
    cursor: default;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}
button,
input {
    line-height: normal;
}
img {
	max-width:100%;
	vertical-align:bottom;
	height:auto;
	max-height:100%;
}
svg:not(:root) {
    overflow: hidden;
}/* Corrects overflow displayed oddly in IE 9. */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre {
	padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
	white-space: pre-line;
    word-wrap: break-word;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
*:focus  {  
  outline: none;  
}  
:-moz-any-link:focus {
  outline: none;
}

figure {
    margin: 0;
}
legend {
    border: 0; 
    padding: 0; 
}

a, a img, #send, #headernav a h2 {
	transition:all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
}
a:hover, a:hover img, #send:hover, #headernav a h2:hover {
	transition:all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
}

/* ESSENTIALS */

body, html {
    margin: auto;
	font-smoothing:antialiased; 
	 -webkit-font-smoothing: antialiased !important;
	 font-size:1em;
	line-height:1em;
	font-family: 'OpenSans-Light', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);	
	}
.content {
	height:100%;
	width:100%;
}
.content p, .content h1, .content h2, .content  h3, .content a {
/*	animation: pageload 0.5s;
	-webkit-animation: pageload 0.5s; 
	-ms-animation: pageload 0.5s;
*/}
	@keyframes pageload
	{0%   {opacity: 0; transform: scale(0.98,0.98);}
	100% {opacity: 1; transform: scale(1,1);}
	}
	
	@-webkit-keyframes pageload 
	{
	0%   {opacity: 0; -webkit-transform: scale(0.98,0.98); /* Safari and Chrome */}
	100% {opacity: 1; -webkit-transform: scale(1,1); /* Safari and Chrome */}
	} 

	@-ms-keyframes pageload 
	{
	0%   {opacity: 0; -ms-transform: scale(0.98,0.98); /* IE 9 */ }
	100% {opacity: 1; -ms-transform: scale(1,1); /* IE 9 */ }
	} 
	
	
	@keyframes opacity
	{0%   {opacity: 0.7;}
	100% {opacity: 1; }
	}
	
	@-webkit-keyframes opacity 
	{
	0%   {opacity: 0.7; }
	100% {opacity: 1; }
	} 

	@-ms-keyframes opacity 
	{
	0%   {opacity: 0.7; }
	100% {opacity: 1; }
	} 



/*Content*/

blockquote {
	padding-left:1em;
	line-height:1.5em;
}
blockquote:before, blockquote:after {
	content:'"';
	font-style:italic;
	padding-right:0.5em;
}
blockquote:after {
	padding-left:0.5em;
	padding-right:0;
}
